@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-ExtraLight.ttf");
}
@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-Light.ttf");
}
*{margin:0;padding:0;}
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@import "cart";
@import "user";
#WhiteFull{
  background:white;
  width:100vw;
  height:100vh;
  position:fixed;
  top:0;
  z-index: 2;
}
#head{
  background:rgb(255, 255, 255);
  color:rgb(0, 0, 0);
  font-family: 'Source Sans Pro', sans-serif;font-size:1.25em;
  height: 8vh;
  width:100%;
  border-bottom: 1px solid rgba(151, 141, 141, 0.2);
}
#headSticky{
  font-family: 'Source Sans Pro', sans-serif;font-size:1.25em;
  background:rgb(255, 255, 255);
  color:rgb(0, 0, 0);
  position: sticky;
  z-index: 1;
  top:0;
  word-break: break-word;flex-basis: 0;
  box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.1);
}
.navBar{
  width: 100%; height:100%;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  li{
    @include flex-center;
    flex:1;
    transition: 0.5s;
    text-transform: uppercase;
  }
  li:nth-child(1){
    justify-content: left;
    padding-left: 2vw;
  }
  #nav_cart{
    padding: 0 7.5vw;
    li{
      justify-content: flex-end;
      padding-right: 0.25em;
    }
    li:last-child{
      justify-content: flex-start;
      padding-left: 0.25em;
      padding-right: 0em;
    }
  }
  .navnav_items{
    width: 100%; height:100%;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    li{
      @include flex-center;
      flex:1;
      padding: 2.5vh 0px;
      i{
        display: flex;
        justify-content: flex-end;
        padding:5.5px;
      }
    }
    li i:hover{
      cursor: pointer;
    }

  }
}
.slide{
  left:5em;
  transition: 0.15s;
  transition-timing-function: ease-out;

}
.close{
  left:0vw;
  transition: 0.2s;
  transition-timing-function: ease-in;

}
.rotate{
  transform: rotate(90deg);
  transition: 0.15s;
  transition-timing-function: ease-in;
}
.upright{
  transform: rotate(0deg);
  transition: 0.2s;
  transition-timing-function: ease-out;
}
#body{
  overflow: hidden;
  width:100%;
  position: absolute;top:0;
  #body_content{
    height: 100%;
  }
  #menu_cont{
    padding-top: 3em;
    width: 96%;
    #menu_cont_nav{
      width:100%;height:10vh;
      #menu_nav{
        display: flex;
        justify-content: space-between;
        border-top: 1px solid rgba(128, 128, 128, 0.562);
        border-bottom: 1px solid rgba(128, 128, 128, 0.562);
        list-style: none;
        li{
          font-size: 1.5em;color: rgb(99, 97, 97);
          letter-spacing: 2px;
          text-transform: uppercase;font-family: 'Source Sans Pro', sans-serif;
          padding:1.25vh 10px;
        }
        li:nth-child(1){
          padding-left: 0px;
          padding-right: 10px;
        }
        li:last-child{
          padding-left: 10px;
          padding-right: 0px;

        }
        li:hover{
          color: rgb(66, 63, 63);cursor: pointer;
          border-bottom: 2px solid rgba(51, 50, 50, 0.692);
        }
        .selected{
          color: black;
          border-bottom: 2px solid black;
        }
      }
    }
    #display_menu_cont{
      &.empty{
        height: 50vw;
      }
      width:100%;height:100%;
      .cont_featured_menu .featured_menu:hover{
        .temp_body_img{
          transition-timing-function: ease-in;
          background-position: center 75%;transition: 25s;
          
        }
      }
      .buying{
        position: absolute;
        
        .hidden{
          clip-path: circle(0% at 50% 50%);
          pointer-events: none;
          
        }
        .expanded{
          clip-path: circle(100% at 50% 50%);
          pointer-events: all;
        }
        .buyingParentCont{
          //overflow:hidden;
          transition: 0.205s;
          transition-timing-function: ease-out;
          background:rgb(233, 224, 224);
          display: flex;
          justify-content: space-evenly;
          flex-flow: column;
          #buying_head{
            font-family: 'Source Sans Pro', sans-serif;

          }
          .buying_body_cont{
            .buying_body{
              font-family: 'Montserrat', sans-serif;
              .buyAmount{
                width: 80%; height: 100%;
                display: flex;flex-flow: row;
                
                div{
                  flex: 1;
                  display: flex;
                  flex-flow: row;
                  justify-content: center;
                  p{
                    flex: 1;
                    align-self: center;
                    background: rgb(223, 211, 211);
                    border: 1px solid rgba(0, 0, 0, 0);
                  }
                  p:not(.selected):hover{
                    background: rgb(211, 203, 203);
                    transition: 0.1s;
                    transition-timing-function: ease-out;
                  }
                }
                .selected:not(input){
                  transition: 0.25s;
                  transition-timing-function: ease-out;
                  background: rgba(182, 163, 163, 0.3);
                  border: 1px solid rgba(0, 0, 0, 0.712);
                  padding: 0 2em;
                }
                input{
                  min-width: 0;
                  flex: 1;
                }
              }
            }
          }
        }
      }
      .cont_card{
        margin-top: 1em;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        .card:nth-child(1n){
          margin-left: 0;
        }
        .card:nth-child(3n){
          margin-right: 0;
        }
        .card:last-child{
          margin-right: 0;
          max-width: calc( 25% + 5vw + 1em);
        }
        .card:hover{
          box-shadow: rgba(151, 141, 141, 0.8) 0px 0px 5px 1px;
          transition: 0.2s;
          .temp_body_img{
            background-position: center 75%;transition: 25s;
          }
        }
        .card{
          transition-timing-function: ease-out;
          transition: 1s;
          flex: 1 0 25%;
          max-width: calc( 25% + 5vw + 1em);
          margin: 0 2.5vw 1vw 2.5vw;
          border: 1px solid rgba(151, 141, 141, 0.4);
          box-shadow: rgba(151, 141, 141, 0.2) 0px 0px 1px 1px;
          .temp_body_img{
            transition: 2s;
            transition-timing-function: ease-out;
            padding: 15vh 0;
            background-position: center center;
            background-size: cover; 
            background-repeat: no-repeat;
          }
          .temp_body{
            flex: 1;
            .h3_cont{
              padding: 0.5em 0;
              flex:1; width:100%;
              font-family: 'Source Sans Pro', sans-serif;
              font-size: 1.15em;
              letter-spacing: 2px;
              display: flex;
              justify-content: center;
              align-items: center;
              //background: rgba(151, 141, 141, 0.2);
            }
            .desc_cont{
              flex:1; 
              font-family: 'Montserrat', sans-serif;
              font-size: 1em;
              display: flex;
              align-items: center;
              height: 3.5em;

            }
            .price_cont{
              flex:1; 
              font-family: 'Montserrat', sans-serif;
              font-weight: 700;
              display: flex;
              align-items: center;
              padding: 5px 0;
            }
            div{
              flex:1; 
              display: flex;
              align-items: flex-start;
              justify-content: center;
              padding: 0.25em 0 1.75em 0;
              
              button{
                font-family: 'Montserrat', sans-serif;
                font-weight: 600;
                padding: 0px 5px;cursor: pointer;
              }
            }
          }
        }

      }
      .cont_featured_menu{
        height:75vh;
        padding: 5vh 0;
        .single{
          height:25vh;
          display: flex;
          flex-flow: row;
          .temp_body_img{
            flex: 1;
            background-position: center center;
            background-size: cover; 
            background-repeat: no-repeat;
            
          }
          .temp_body{
            flex: 1;
            background: rgb(243, 240, 245);
            .h3_cont{
              padding: 0.5em 0;
              flex:1; width:100%;
              font-family: 'Source Sans Pro', sans-serif;
              font-size: 1.15em;
              letter-spacing: 2px;
              display: flex;
              justify-content: center;
              align-items: center;
              //background: rgba(151, 141, 141, 0.2);
            }
            .desc_cont{
              flex:1; 
              font-family: 'Montserrat', sans-serif;
              font-size: 1em;
              display: flex;
              align-items: center;

            }
            .price_cont{
              flex:1; 
              font-family: 'Montserrat', sans-serif;
              font-weight: 700;
              display: flex;
              align-items: center;
              padding: 5px 0;
            }
            div{
              flex:1; 
              display: flex;
              align-items: flex-start;
              justify-content: center;
              input{
                font-family: 'Montserrat', sans-serif;
                width:35%;
                text-align: center;
                font-weight: 600;
              }
              button{
                font-family: 'Montserrat', sans-serif;
                font-weight: 600;
                padding: 0px 5px;cursor: pointer;
              }
            }
          }
        }
        .featured_menu{
          padding: 1em 0;
          border-top: 1px solid rgba(151, 141, 141, 0.2);
          border-bottom: 1px solid rgba(151, 141, 141, 0.2);
          height:50vh;

          display: flex;
          .temp_body_img{
            flex:1 1 65%;
            background-position: center center;
            background-size: cover; 
            background-repeat: no-repeat;
          }
          /*.temp_body:hover{
            background: rgb(233, 229, 229);
            transition: 0.2s;
          }*/
          .temp_body{
            flex: 1 1 33%;

            transition: 0.5s;
            transition-timing-function: ease-out;
            background: rgb(243, 240, 245);
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
            .h3_cont{
              flex:1; width:100%;
              font-family: 'Source Sans Pro', sans-serif;
              font-size: 1.5em;
              letter-spacing: 2px;
              display: flex;
              justify-content: bottom;
              align-items: flex-end;
              //background: rgba(151, 141, 141, 0.2);
            }
            .desc_cont{
              flex:1; 
              font-family: 'Montserrat', sans-serif;
              font-size: 1.2em;
              display: flex;
              align-items: center;

            }
            .price_cont{
              flex:1; 
              font-family: 'Montserrat', sans-serif;
              font-weight: 700;
              display: flex;
              align-items: center;
            }
            div{
              flex:1; 
              display: flex;
              align-items: flex-start;
              justify-content: center;
              input{
                font-family: 'Montserrat', sans-serif;
                width:35%;
                text-align: center;
                font-weight: 600;
              }
              button{
                font-family: 'Montserrat', sans-serif;
                font-weight: 600;
                padding: 0px 5px;cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
  
}

#topHeader_Text{
  background-color: #f8f7f7;
  font-family: 'Montserrat', sans-serif;
  margin-left: 2vw;
  width: calc( 96% - 1.75em);
  font-size: 5em;
  padding: 5vh 0 5vh 1.75em;
  p u{
    text-decoration: none;
    border-bottom: 2px solid currentColor;
    display: inline-block;
    line-height: 0.85;
  }
}
.illusion{
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

  &#topImg{
    height:25.5vh;
    width:96%;
    background-image: url("../img/food.jpg");
    padding: calc(25.5vh - 2.2em) 0;
   p{
     background: rgba(0, 0, 0,0.3);
     font-size: 2em;font-weight: 600;
   }

  }
}
